extends template

block content 

    div(class="row")
        div(class="col-6")
            video(controls)
                source(src=item.video, types="video/mp4")
        div(class="col-6")
            h2 Album: 
            p #{item.album}
            h2 Artista: 
            p #{item.artist}
            h2 Descripcion:
            p #{item.description}
            audio(controls)
                source(src=item.audio, type="audio/mp3")
        